<div class="cart white">
  <table>
    <% @rentals.each do |rental_parts| %>
      <% rental = rental_parts[0] %>
      <% nights = rental_parts[3] %>
      <div class="rental_card">
        <tr>
          <div class="row">
            <div class="col s3">
              <%= image_tag(rental.image.url, class: "responsive-img") %>
            </div>
            <div class="col s6">
              <h2><%= rental.name %></h2>
              <p><%= rental.description %></p>
              <p><%= "Price: #{format_currency(rental.price)}" %></p>
              <p><%= "Dates: #{rental_parts[1]} to #{rental_parts[2]}" %></p>
              <p><%= "Number of Nights: #{nights}" %><br></p>
              <p><%= "Sub-total: #{sub_total(rental.price, nights)}" %></p>
            </div>
            <div class="col s2">
              <br/>
              <br/>
              <br/>
              <div class="waves-effect waves-light btn white-text">
                <%= button_to "Remove", cart_path( { rental_id: rental.id }), method: :delete %>
              </div>
            </div>
          </div>
        </tr>
      </div>
    <% end %>
  </table>
</div>
