%br
%br

.black-text.center-align
  %h1.center-align Place Your Order
  %br

  .row
    .col.s2.offset-s5.black-text
      = form_tag(cart_rentals_path, method: :post) do
        = hidden_field_tag "rental_id", params[:id]
        .input-field
          = label_tag "# of Nights"
          = text_field_tag "Date Range"
        .waves-effect.waves-light.btn.white-text
          = submit_tag "Place Order"

%br
%br
%br
