- if current_user
  = render partial: "shared/already_logged_in"
- if !current_user
  %h3.black-text Create Account
  .row
    .col.s6.black-text
      = form_for @new_user do |f|
        .input-field
          = f.label :username
          = f.text_field :username
        .input-field
          = f.label :name
          = f.text_field :name
        .input-field
          = f.label :password
          = f.password_field :password
        .waves-effect.waves-light.btn
          = f.submit "Create Account"
