<script> $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag "house-06.jpg" %>
      <div class="caption center-align">
        <h1 class="black-text light">Welcome to GnarPow!</h1>
        <br>
        <h4 class="light black-text">Home of the gnarliest gear.</h4>
        <br>
        <br>
        <br>
        <% if current_user.nil? %>
          <%= link_to "SHOP", root_path, class:"btn large" %>
        <% elsif current_user.platform_admin? %>
          <%= link_to "SHOP", root_path, class:"btn large" %>
        <% else %>
          <%= link_to "SHOP", root_path, class:"btn large" %>
        <% end %>
      </div>
    </li>
    <li>
      <%= image_tag "house-06.jpg" %>
      <div class="caption left-align">
        <h3></h3>
        <h3 class="light black-text">You don't wanna get stuck <br> up here without boots...</h3>
        <br>
        <%= link_to "SHOP BOOTS", root_path, class:"btn large" %>
      </div>
    </li>
    <li>
      <%= image_tag "house-06.jpg" %>
      <div class="caption right-align black-text">
        <h3>It's cold out there...</h3>
        <h5 class="light black-text">Get some sleeves!</h5>
        <br>
        <%= link_to "SHOP APPAREL", root_path, class:"btn large" %>
      </div>
    </li>
    <li>
      <%= image_tag "house-06.jpg" %>
      <div class="caption center-align black-text">
        <h3>GnarPow!</h3>
        <h5 class="light black-text">Login and get shreddin!</h5>
        <br>
        <%= link_to "LOGIN", root_path, class:"btn large" %>
      </div>
    </li>
  </ul>
</div>
