<h5><strong>Amenitites Included With Your Rental</strong></h5>
<div class="left-align">
  <b><%= "English Butler:" %></b> <%="#{@rental.english_butler}"%><br>
  <b><%= "Onsite Masseuse:" %></b> <%="#{@rental.onsite_masseuse}"%><br>
  <b><%= "Private Movie Theater:" %></b> <%="#{@rental.private_movie_theater}"%><br>
  <b><%= "Elite Golf Course:" %></b> <%="#{@rental.elite_golf_course}"%><br>
  <b><%= "Results Oriented Gym:" %></b> <%="#{@rental.results_oriented_gym}"%><br>
  <b><%= "Luxury Private Jet:" %></b> <%="#{@rental.luxury_private_jet}"%><br>
  <b><%= "Olympic Pool:" %></b> <%="#{@rental.olympic_pool}"%><br>
  <b><%= "In-house Pet Psychic:" %></b> <%="#{@rental.in_house_pet_psychic}"%><br>
</div>
