<div class="rental" id="<%= format_url_name(rental.name) %>">
  <div class="col s12 m4">
    <div class="card rental-card">
      <div class="card-image">
        <%= image_tag(rental.image.url(:thumbnail)) %>
      </div>
      <div class="card-content">
        <span class="card-title">
          <%= truncate(rental.name, length: 15) %>
        </span>
        <br/>
        <%= "#{format_currency(rental.price)}" %> a night
      </div>
      <div class="card-action center-align">
        <%= link_to "Details", rental_path(rental), class: "btn teal lighten-1 white-text" %>
      </div>
    </div>
    <% if current_user && current_user.owner? %>
      <p>Status: <%= rental.status.upcase %></p>
      <%= link_to "Edit", edit_owners_rental_path(rental), method: :get, class: "btn teal lighten-1 white-text" %>
      <%= link_to "Delete", owners_rental_path(rental), method: :delete, class: "btn teal lighten-1 white-text" %>
    <% end %>
  </div>
</div>
