.rental{ :id => "#{format_url_name(rental.name)}" }
  .col.s12.m4
    .card.medium
      .card-image
        = image_tag(rental.image.url)
        %span.card-title= "#{ rental.name}"
      .card-content
        %p= "#{rental.description}"
        %br
        = "#{format_currency(rental.price)}"
      .card-action
        = link_to "Details", rental_path(rental)
        %br
        %br
