.white-text.center-align
  %br
  %h2 Order Details

  = sanitize("Order status: #{content_tag :td, @order.status || 'N/A'}")
  %br
  %br
  = sanitize("Total price: #{content_tag :td, format_currency(@order.total)}")
  %br
  = "Order submitted on #{format_date_and_time(@order.created_at)}"
  %br
  = "Last order status update: #{format_date_and_time(@order.updated_at)}"
  %br
  %br
  %br

  .white.black-text
    %table.cart-table.highlight
      %tr
        %th Name
        %th Sub-total
        %th Retired?

      - @order.rentals.each do |rental|
        %tr
          = content_tag :td, link_to(rental_name_and_travellers(@order, rental), rental_path(rental))
          = content_tag :td, format_currency(rental.price * @order.ordered_trips.find_by(rental_id: rental.id).travellers)
          -# number of travellers method
  %br
  %br
  %br
