<h2 class="center-align">Order Details</h2>
<div class="white">
  <table class="cart-table highlight">
    <tr>
      <th>Reservation Requested</th>
      <th>Status</th>
      <th>Renter</th>
      <th>Total</th>
    </tr>
    <tr>
      <%= content_tag :td, order_date(@order.created_at) %>
      <%= content_tag :td, @order.status %>
      <%= content_tag :td, User.find(@order.user_id).name %>
      <%= content_tag :td, format_currency(@order.total || 0) %>
    </tr>
  </table>
</div>
<div class="white">
  <table class="cart-table highlight">
    <tr>
      <th>Rentals Included</th>
    </tr>
    <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.name.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<hr />
<div class="black-text">
  <%= form_for(@order, url: owners_order_path)  do |f| %>
    <%= f.label :status, "Status" %>
    <%= f.select :status, @statuses, {prompt: "Update Order Status"} %>
    <div class="waves-effect waves-light btn">
      <%= f.submit "Update Status" %>
    </div>
  <% end %>
</div>
