<h2>Admin Owners Index</h2>

<ol>
  <% @owners.each do |owner| %>
  <li><%= owner.name %></li>
  <% end %>
</ol>


<table class="bordered owners">
     <thead>
       <tr>
           <th data-field="id">Owner</th>
           <th data-field="id">Status</th>
           <th></th>
           <th></th>
       </tr>
     </thead>
     <tbody>
      <% @owners.each do |owner| %>
       <tr>
         <td><%= owner.name %></td>
         <td><%= owner.owner_status %></td>
         <% if owner.owner_status == "inactive" %>
          <td><%= link_to "Make Active", admin_owner_path(owner, :owner_status => 'active'), method: :patch %></td>
         <% else %>
          <td><%= link_to "Make Inactive", admin_owner_path(owner, :owner_status => 'inactive'), method: :patch %></td>
         <% end %>
       </tr>
         <% end %>
     </tbody>
   </table>
