<div class="black-text">
  <%= form_for @rental, url: { action: action}  do |f| %>
    <div class="hidden-field">
      <%= f.hidden_field(:user_id, :value => current_user.id) if current_user %>
    </div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :status %>
    <%= f.select :status, ["active", "retired"] %>
    <%= f.collection_select :rental_type_id, @rental_types, :id, :name, {prompt: "Choose a Rental Type"} %>
    <%= f.label :image, "Attach an Image" %>
    <%= f.file_field :image %>
    <div class="waves-effect waves-light btn">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
