.rental{ :id => "#{rental.name}" }
  .col.s12.m4
    .card
      .card-image
        = image_tag(rental.image.url)
        %span.card-title= "#{ rental.name}"
      .card-content
        %p= "#{rental.description}"
        %br
        = "#{format_currency(rental.price)}"
      .card-action
        = link_to "Details", rental_path(rental)
        %br
        %br
        = "Status: #{rental.status.upcase}"
        %br
        %br
        = button_to "Edit", edit_owners_rental_path(rental), method: :get
        = button_to "Delete", owners_rental_path(rental), method: :delete
