<div class="rental" id="<%= rental.name %>">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <%= image_tag(rental.image.url) %>
        <span class="card-title">
          <%= "#{ rental.name}" %>
        </span>
      </div>
      <div class="card-content">
        <p>
          <%= rental.description %>
        </p>
        <br/>
        <%= format_currency(rental.price) %>
      </div>
      <div class="card-action">
        <%= link_to "Details", owners_rental_path(rental) %>
        Status<%= rental.status.upcase %>
        <%= button_to "Edit", edit_owners_rental_path(rental), method: :get %>
        <%= button_to "Delete", owners_rental_path(rental), method: :delete %>
      </div>
    </div>
  </div>
</div>
