%h1.white-text.center-align Add a New Rental:

.white-text
  = form_for(@rental, url: owner_rentals_path)  do |f|
    .hidden-field
      = f.hidden_field(:user_id, :value => current_user.id) if current_user

    .input-field
      = f.label :name
      = f.text_field :name

    .input-field
      = f.label :description
      = f.text_area :description

    .input-field
      = f.label :rental_type
      = f.text_field :rental_type

    .input-field
      = f.label :price
      = f.text_field :price

    .input-field
      = f.label :status
      = f.text_field :status

    = f.label :image, "Attach an Image"
    = f.file_field :image
    .waves-effect.waves-light.btn
      = f.submit "Create Rental"
