<!DOCTYPE html>
<html>
<head>
  <title>Adventure Abodes</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body class="Site">
  <main>
    <div class = "<%= params[:controller] %>">
      <header class="nav">
        <%= render "shared/nav_base" %>
      </header>

      <div class="row">
        <div class="col s5 offset-s3 m10 offset-m3">
          <% flash.each do |type, msg| %>
              <h5 class="hide"><%= content_tag :div, sanitize(msg), class: "flash_#{type}" %></h5>
                <body onload="Materialize.toast('<%=msg%>', 3500)">
          <% end %>
        </div>
      </div>
    </div>
    <% if current_page?("/rental_types") %>
      <%= yield %>
    <% else %>
      <div class='container'>
        <%= yield %>
      </div>
    <% end %>
  </main>
  <%= render "shared/footer" %>    ​
</body>  ​
  </body>
</html>
